[submodule "packages/astro-messaging"]
	path = packages/astro-messaging
	url = git@github.com:astropods/messaging.git
[submodule "packages/astro-playground"]
	path = packages/astro-playground
	url = git@github.com:astropods/playground.git
[submodule "packages/adapters"]
	path = packages/adapters
	url = git@github.com:astropods/adapters.git
