# Backend API URL
#
# For local backend development:
#   VITE_API_URL=http://localhost:4321
#
# For remote backend development (run `npm run setup` first):
#   VITE_API_URL=https://example.com
#
VITE_API_URL=http://localhost:4321
