openapi: 3.1.0
servers:
  - url: https://astropods.com/api/v1
    description: Astro AI API server
info:
  title: Astro AI API
  description: |
    API for the Astro AI platform: list and manage agents, register and publish agent builds,
    deploy agents to Kubernetes, and query observability data. Public endpoints return only
    published agents; authenticated account members can see all builds and perform write operations.
  version: 1.0.0
  contact:
    name: Astro AI Support
    url: https://astropods.com

tags:
  - name: agents
    description: Agent registry and lifecycle
  - name: accounts
    description: Account and profile
  - name: deployments
    description: Deploy and manage agents
  - name: observability
    description: Traces and metrics

security:
  - BearerAuth: []

paths:
  # ── Agents ──────────────────────────────────────────────────────────────────

  /agents:
    get:
      tags: [agents]
      summary: List agents
      description: Returns the public catalog of agents that have at least one published semver version. No authentication required.
      operationId: listAgents
      security: []
      responses:
        "200":
          description: List of agents with versions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentsListResponse"
        "500":
          $ref: "#/components/responses/InternalError"

  /agents/{account}/{name}:
    get:
      tags: [agents]
      summary: Get agent
      description: |
        Returns an agent by account and name. Public callers see only published versions;
        authenticated account members see all builds and semver annotations.
      operationId: getAgent
      parameters:
        - $ref: "#/components/parameters/Account"
        - $ref: "#/components/parameters/Name"
      responses:
        "200":
          description: Agent details with versions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentResponse"
        "404":
          $ref: "#/components/responses/NotFound"

  /agents/{account}/{name}/register:
    post:
      tags: [agents]
      summary: Register agent
      description: Registers a new agent build or updates an existing one. Requires account owner or admin role.
      operationId: registerAgent
      parameters:
        - $ref: "#/components/parameters/Account"
        - $ref: "#/components/parameters/Name"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterAgentRequest"
      responses:
        "201":
          description: Agent registered successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterAgentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /agents/{account}/{name}/publish:
    post:
      tags: [agents]
      summary: Publish agent version
      description: Assigns a semver version to a build, making it publicly visible in the catalog. Requires account owner or admin.
      operationId: publishAgent
      parameters:
        - $ref: "#/components/parameters/Account"
        - $ref: "#/components/parameters/Name"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublishAgentRequest"
      responses:
        "201":
          description: Version published
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublishAgentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /agents/{account}/{name}/config:
    get:
      tags: [agents]
      summary: Get agent config
      description: Returns required credentials and config for deploying the latest build. Used by the dashboard for deployment setup.
      operationId: getAgentConfig
      parameters:
        - $ref: "#/components/parameters/Account"
        - $ref: "#/components/parameters/Name"
        - name: interfaces
          in: query
          description: Comma-separated interface names to include (e.g. slack,web)
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Agent name, build_id, and required credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentConfigResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /agents/{account}/{name}/deployment-template:
    get:
      tags: [agents]
      summary: Get deployment template
      description: |
        Generates a deployment spec template for the agent. Returns YAML by default; pass
        `format=json` for JSON. Optionally pin to a specific build with `?build=<build_id>`.
      operationId: getDeploymentTemplate
      parameters:
        - $ref: "#/components/parameters/Account"
        - $ref: "#/components/parameters/Name"
        - name: build
          in: query
          description: Specific build ID to use (defaults to latest)
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: Response format (`json` or `yaml`, default `yaml`)
          required: false
          schema:
            type: string
            enum: [json, yaml]
      responses:
        "200":
          description: Deployment spec template
          content:
            application/yaml:
              schema:
                type: string
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /agents/{account}/{name}/deployment:
    get:
      tags: [deployments]
      summary: Get active deployment
      description: Returns the stored deployment spec for the currently active deployment of the agent.
      operationId: getActiveDeployment
      parameters:
        - $ref: "#/components/parameters/Account"
        - $ref: "#/components/parameters/Name"
      responses:
        "200":
          description: Active deployment record with spec
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeploymentRecord"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /agents/{account}/{name}/deployment/history:
    get:
      tags: [deployments]
      summary: Get deployment history
      description: Returns all deployment records for the agent, ordered by most recent first.
      operationId: getDeploymentHistory
      parameters:
        - $ref: "#/components/parameters/Account"
        - $ref: "#/components/parameters/Name"
      responses:
        "200":
          description: List of deployment records
          content:
            application/json:
              schema:
                type: object
                properties:
                  deployments:
                    type: array
                    items:
                      $ref: "#/components/schemas/DeploymentRecord"
                  count:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"

  # ── Observability ────────────────────────────────────────────────────────────

  /agents/{account}/{name}/observability/metrics:
    get:
      tags: [observability]
      summary: Get metrics
      description: Returns bucketed trace metrics for the agent over a time range. Requires Langfuse observability to be configured.
      operationId: getObservabilityMetrics
      parameters:
        - $ref: "#/components/parameters/Account"
        - $ref: "#/components/parameters/Name"
        - name: start_time
          in: query
          description: Start of time range (RFC 3339)
          required: false
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: End of time range (RFC 3339)
          required: false
          schema:
            type: string
            format: date-time
        - name: interval
          in: query
          description: Bucket interval in minutes (default 60)
          required: false
          schema:
            type: integer
            default: 60
      responses:
        "200":
          description: Bucketed metrics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetricsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /agents/{account}/{name}/observability/summary:
    get:
      tags: [observability]
      summary: Get observability summary
      description: Returns aggregated trace summary statistics (latency, error rate, throughput) for the agent over a time range.
      operationId: getObservabilitySummary
      parameters:
        - $ref: "#/components/parameters/Account"
        - $ref: "#/components/parameters/Name"
        - name: start_time
          in: query
          description: Start of time range (RFC 3339)
          required: false
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: End of time range (RFC 3339)
          required: false
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Summary statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObservabilitySummaryResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /agents/{account}/{name}/observability/traces:
    get:
      tags: [observability]
      summary: List traces
      description: Returns a paginated list of traces for the agent.
      operationId: getObservabilityTraces
      parameters:
        - $ref: "#/components/parameters/Account"
        - $ref: "#/components/parameters/Name"
        - name: start_time
          in: query
          description: Start of time range (RFC 3339)
          required: false
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: End of time range (RFC 3339)
          required: false
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          description: Maximum number of traces to return (default 50)
          required: false
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          description: Pagination offset (default 0)
          required: false
          schema:
            type: integer
            default: 0
        - name: status
          in: query
          description: Filter by status (`ok` or `error`)
          required: false
          schema:
            type: string
            enum: [ok, error]
      responses:
        "200":
          description: Paginated list of traces
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TracesResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  # ── Accounts ─────────────────────────────────────────────────────────────────

  /me:
    get:
      tags: [accounts]
      summary: Get profile
      description: Returns the authenticated user's profile and accounts.
      operationId: getProfile
      responses:
        "200":
          description: User profile and accounts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /accounts:
    post:
      tags: [accounts]
      summary: Create account
      description: Creates a new personal or team account for the authenticated user.
      operationId: createAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccountRequest"
      responses:
        "201":
          description: Account created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Conflict — personal account already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /accounts/check/{name}:
    get:
      tags: [accounts]
      summary: Check account name
      description: Returns whether an account name is available. No authentication required.
      operationId: checkAccountName
      security: []
      parameters:
        - name: name
          in: path
          required: true
          description: Account name to check
          schema:
            type: string
      responses:
        "200":
          description: Availability result
          content:
            application/json:
              schema:
                type: object
                properties:
                  available:
                    type: boolean
                  reason:
                    type: string
                    description: Explanation when not available

  /accounts/{account}:
    get:
      tags: [accounts]
      summary: Get account
      description: Returns public profile for an account. No authentication required.
      operationId: getAccount
      security: []
      parameters:
        - $ref: "#/components/parameters/Account"
      responses:
        "200":
          description: Account profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      tags: [accounts]
      summary: Rename account
      description: Renames the account. Requires owner or admin role.
      operationId: renameAccount
      parameters:
        - $ref: "#/components/parameters/Account"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  description: New account name
      responses:
        "200":
          description: Account renamed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  name:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Deployments ───────────────────────────────────────────────────────────────

  /deployments:
    get:
      tags: [deployments]
      summary: List deployments
      description: Lists all active deployments for the given account, including pod and job status.
      operationId: listDeployments
      parameters:
        - name: account
          in: query
          required: true
          description: Account name
          schema:
            type: string
      responses:
        "200":
          description: List of active deployments
          content:
            application/json:
              schema:
                type: object
                properties:
                  deployments:
                    type: array
                    items:
                      $ref: "#/components/schemas/AgentDeployment"
                  count:
                    type: integer
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"

  /deployments/authorize:
    get:
      tags: [deployments]
      summary: Authorize a deployment request
      description: |
        Callback used by the messaging container — and by any agent that handles its own
        HTTP requests (e.g. a frontend agent) — to check whether an inbound request should
        be allowed against this deployment's grants.

        Authentication is the per-deployment JWT injected as `ASTRO_AUTHZ_TOKEN`. The token's
        `sub` claim identifies the deployment; no other deployment ID is passed in the request.

        Returns `200` with the decision on every authoritative answer. Identity fields are
        only populated when `allowed: true` — denials don't leak mapping state.
      operationId: authorizeDeployment
      security:
        - DeployTokenAuth: []
      parameters:
        - name: identity_type
          in: query
          required: false
          description: |
            `user` for a signed-in user, `slack` for a Slack user, or empty for anonymous
            (only valid when an `anyone` grant exists for the adapter).
          schema:
            type: string
            enum: [user, slack]
        - name: identity_id
          in: query
          required: false
          description: |
            The user id corresponding to `identity_type` — the platform user id for `user`,
            the Slack user id for `slack`. Must be supplied together with `identity_type`;
            providing one without the other returns 400.
          schema:
            type: string
        - name: identity_scope
          in: query
          required: false
          description: |
            Adapter-specific disambiguator for `identity_id`. For `slack`, this is the
            workspace `team_id` (Slack user ids are only unique within a team). Omit for `web`.
          schema:
            type: string
        - name: adapter
          in: query
          required: true
          description: The adapter handling the request.
          schema:
            type: string
            enum: [web, slack]
      responses:
        "200":
          description: Authorization decision
          content:
            application/json:
              schema:
                type: object
                required: [allowed]
                properties:
                  allowed:
                    type: boolean
                    description: Whether the request is allowed.
                  user_id:
                    type: string
                    description: |
                      Resolved platform user id. Echoed back for `identity_type=user`;
                      looked up via Slack identity mappings for `identity_type=slack` (empty
                      when no mapping exists). Only present when `allowed: true`.
                  slack_user_id:
                    type: string
                    description: |
                      The Slack user id from the request, echoed back so callers can attribute
                      unlinked Slack users to a namespaced trace id. Only present when
                      `allowed: true` and `identity_type=slack`.
                  slack_team_id:
                    type: string
                    description: |
                      The Slack workspace id (`team_id`) from the request, echoed back. Only
                      present when `allowed: true` and `identity_type=slack`.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /deploy:
    post:
      tags: [deployments]
      summary: Deploy agent
      description: |
        Deploys the latest build of an agent to Kubernetes. Creates or updates the K8s namespace,
        deployment, services, and ingress. Returns `200` on full success or `207` if some
        resources had errors.
      operationId: deployAgent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeployRequest"
      responses:
        "200":
          description: Deployment succeeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeployResponse"
        "207":
          description: Deployment partially succeeded (some resources had errors)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeployResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /deploy/validate:
    post:
      tags: [deployments]
      summary: Validate deployment
      description: Validates a deployment request without applying it to the cluster. Useful for pre-flight checks.
      operationId: validateDeployment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeployRequest"
      responses:
        "200":
          description: Validation passed
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  build_id:
                    type: string
                  name:
                    type: string
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                    example: false
                  validation_errors:
                    type: array
                    items:
                      type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /undeploy:
    post:
      tags: [deployments]
      summary: Undeploy agent
      description: Removes the agent's Kubernetes namespace and all associated resources.
      operationId: undeployAgent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [account, name]
              properties:
                account:
                  type: string
                name:
                  type: string
                  description: Agent name
      responses:
        "200":
          description: Undeploy succeeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UndeployResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /deployments/{namespace}/logs:
    get:
      tags: [deployments]
      summary: Get pod logs
      description: Returns the last N lines of logs from a pod in the deployment's namespace.
      operationId: getDeploymentLogs
      parameters:
        - $ref: "#/components/parameters/Namespace"
        - name: account
          in: query
          required: true
          description: Account name (used for ownership verification)
          schema:
            type: string
        - name: pod
          in: query
          required: true
          description: Pod name
          schema:
            type: string
        - name: container
          in: query
          required: false
          description: Container name (defaults to first container)
          schema:
            type: string
        - name: tailLines
          in: query
          required: false
          description: Number of log lines to return (default 200)
          schema:
            type: integer
            default: 200
      responses:
        "200":
          description: Log output as plain text
          content:
            text/plain:
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"

  /deployments/{namespace}/pods/{pod}/restart:
    post:
      tags: [deployments]
      summary: Restart pod
      description: Deletes the pod, causing Kubernetes to recreate it.
      operationId: restartPod
      parameters:
        - $ref: "#/components/parameters/Namespace"
        - name: pod
          in: path
          required: true
          description: Pod name
          schema:
            type: string
        - name: account
          in: query
          required: true
          description: Account name (used for ownership verification)
          schema:
            type: string
      responses:
        "200":
          description: Pod restart initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: restarting
                  pod:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"

  /deployments/{namespace}/configmap/{cmname}:
    get:
      tags: [deployments]
      summary: Get ConfigMap data
      description: Returns the key-value data of a ConfigMap in the deployment's namespace.
      operationId: getConfigMapData
      parameters:
        - $ref: "#/components/parameters/Namespace"
        - name: cmname
          in: path
          required: true
          description: ConfigMap name
          schema:
            type: string
        - name: account
          in: query
          required: true
          description: Account name (used for ownership verification)
          schema:
            type: string
      responses:
        "200":
          description: ConfigMap data
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                  data:
                    type: object
                    additionalProperties:
                      type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /deployments/{namespace}/secret/{secretname}/keys:
    get:
      tags: [deployments]
      summary: Get secret keys
      description: Returns the key names of a Secret (values are never returned).
      operationId: getSecretKeys
      parameters:
        - $ref: "#/components/parameters/Namespace"
        - name: secretname
          in: path
          required: true
          description: Secret name
          schema:
            type: string
        - name: account
          in: query
          required: true
          description: Account name (used for ownership verification)
          schema:
            type: string
      responses:
        "200":
          description: Secret key names
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                  keys:
                    type: array
                    items:
                      type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /deployments/{namespace}/ingestion/{ingestion}/trigger:
    post:
      tags: [deployments]
      summary: Trigger ingestion
      description: "Manually triggers a one-shot ingestion job for an ingestion source configured with `trigger.type: manual`."
      operationId: triggerIngestion
      parameters:
        - $ref: "#/components/parameters/Namespace"
        - name: ingestion
          in: path
          required: true
          description: Ingestion source name as defined in the agent spec
          schema:
            type: string
        - name: account
          in: query
          required: true
          description: Account name (used for ownership verification)
          schema:
            type: string
      responses:
        "200":
          description: Ingestion job created
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: triggered
                  job_name:
                    type: string
                  namespace:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 device flow or platform session token
    DeployTokenAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Per-deployment JWT signed by astro-server (HS256). Injected into the agent and
        messaging containers as the `ASTRO_AUTHZ_TOKEN` environment variable. The `sub`
        claim identifies the deployment.

  parameters:
    Account:
      name: account
      in: path
      required: true
      description: Account name (slug)
      schema:
        type: string
    Name:
      name: name
      in: path
      required: true
      description: Agent name
      schema:
        type: string
    Namespace:
      name: namespace
      in: path
      required: true
      description: Kubernetes namespace for the deployment
      schema:
        type: string

  responses:
    BadRequest:
      description: Invalid request body or parameters
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Insufficient permissions for this account
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    InternalError:
      description: Server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ServiceUnavailable:
      description: Service not configured or unavailable
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        details:
          type: string

    # ── Agent schemas ────────────────────────────────────────────────────────

    AgentsListResponse:
      type: object
      properties:
        agents:
          type: array
          items:
            $ref: "#/components/schemas/AgentResponse"
        count:
          type: integer

    AgentResponse:
      type: object
      properties:
        account:
          type: string
        name:
          type: string
        registry:
          type: string
        versions:
          type: array
          items:
            $ref: "#/components/schemas/AgentVersionResponse"

    AgentVersionResponse:
      type: object
      properties:
        build_id:
          type: string
        version:
          type: string
          description: Semver if published
        spec:
          type: object
          additionalProperties: true
        readme:
          type: string
        published_at:
          type: string
          format: date-time
        validation_warnings:
          type: array
          items:
            type: object

    RegisterAgentRequest:
      type: object
      required: [build_id, registry, spec_content]
      properties:
        build_id:
          type: string
        registry:
          type: string
          description: OCI registry URL
        spec_content:
          type: string
          description: YAML content of astropods.yml
        readme:
          type: string

    RegisterAgentResponse:
      type: object
      properties:
        message:
          type: string
        account:
          type: string
        name:
          type: string
        build_id:
          type: string
        validation_warnings:
          type: array
          items:
            type: object

    PublishAgentRequest:
      type: object
      required: [build_id, version]
      properties:
        build_id:
          type: string
        version:
          type: string
          description: Semver version (e.g. 1.0.0)

    PublishAgentResponse:
      type: object
      properties:
        message:
          type: string
        account:
          type: string
        name:
          type: string
        build_id:
          type: string
        version:
          type: string

    AgentConfigResponse:
      type: object
      properties:
        agent:
          type: string
        build_id:
          type: string
        credentials:
          type: array
          description: Required credential keys for deployment

    # ── Account schemas ──────────────────────────────────────────────────────

    ProfileResponse:
      type: object
      properties:
        user:
          $ref: "#/components/schemas/User"
        accounts:
          type: array
          items:
            $ref: "#/components/schemas/Account"

    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        email_verified:
          type: boolean
        profile_picture_url:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Account:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [personal, team]
        role:
          type: string
          enum: [owner, admin, member]
        agents:
          type: array
          items:
            $ref: "#/components/schemas/AgentSummary"

    AccountResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [personal, team]
        owner:
          type: object
          properties:
            first_name:
              type: string
            last_name:
              type: string
            profile_picture_url:
              type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateAccountRequest:
      type: object
      required: [name, type]
      properties:
        name:
          type: string
        type:
          type: string
          enum: [personal, team]

    AgentSummary:
      type: object
      properties:
        name:
          type: string
        registry:
          type: string
        build_count:
          type: integer
        published_version_count:
          type: integer

    # ── Deployment schemas ───────────────────────────────────────────────────

    DeployRequest:
      type: object
      required: [account, name]
      properties:
        account:
          type: string
          description: Account that owns the deployment
        name:
          type: string
          description: Agent name
        source_account:
          type: string
          description: Source account for cross-account deploys (uses latest published version)
        user_credentials:
          type: object
          additionalProperties:
            type: string
          description: Credential key-value pairs required by the agent
        interfaces:
          type: array
          items:
            type: string
          description: Interface adapter names to enable (e.g. ["slack", "web"])
        schedules:
          type: object
          additionalProperties:
            type: string
          description: Cron schedules keyed by ingestion name

    DeployResponse:
      type: object
      properties:
        status:
          type: string
          enum: [success, partial]
        name:
          type: string
        build_id:
          type: string
        k8s_namespace:
          type: string
        deployed_at:
          type: string
          format: date-time
        resources:
          type: array
          items:
            type: object
            additionalProperties: true
          description: Kubernetes resources created or updated
        service_endpoints:
          type: array
          items:
            $ref: "#/components/schemas/ServiceEndpoint"
        errors:
          type: array
          items:
            type: string

    UndeployResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        name:
          type: string
        build_id:
          type: string
        k8s_namespace:
          type: string
        undeployed_at:
          type: string
          format: date-time

    AgentDeployment:
      type: object
      properties:
        name:
          type: string
        build_id:
          type: string
        namespace:
          type: string
        status:
          type: string
          enum: [Running, Pending, Stopped]
        replicas:
          type: integer
        ready:
          type: integer
        created_at:
          type: string
          format: date-time
        components:
          type: array
          items:
            type: string
        manual_ingestions:
          type: array
          items:
            type: string
        external_urls:
          type: array
          items:
            $ref: "#/components/schemas/ServiceEndpoint"
        pods:
          type: array
          items:
            $ref: "#/components/schemas/PodDetail"
        jobs:
          type: array
          items:
            $ref: "#/components/schemas/JobDetail"

    DeploymentRecord:
      type: object
      properties:
        id:
          type: string
        agent_name:
          type: string
        build_id:
          type: string
        namespace:
          type: string
        status:
          type: string
        deployed_at:
          type: string
          format: date-time
        undeployed_at:
          type: string
          format: date-time
          nullable: true
        spec:
          type: object
          additionalProperties: true

    ServiceEndpoint:
      type: object
      properties:
        name:
          type: string
        url:
          type: string
        type:
          type: string

    PodDetail:
      type: object
      properties:
        name:
          type: string
        phase:
          type: string
          enum: [Pending, Running, Succeeded, Failed, Unknown]
        pod_ip:
          type: string
        age:
          type: string
        containers:
          type: array
          items:
            $ref: "#/components/schemas/ContainerStatus"

    ContainerStatus:
      type: object
      properties:
        name:
          type: string
        state:
          type: string
          enum: [Running, Waiting, Terminated, Unknown]
        ready:
          type: boolean
        restart_count:
          type: integer
        reason:
          type: string
        message:
          type: string
        env:
          type: array
          items:
            $ref: "#/components/schemas/EnvVar"

    EnvVar:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
          description: Literal value (omitted for secret/configmap references)
        from:
          type: string
          description: Source reference (e.g. `secret:my-secret/key`)

    JobDetail:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
          enum: [Pending, Running, Succeeded, Failed]
        component:
          type: string
        age:
          type: string
        start_time:
          type: string
          format: date-time
        completions:
          type: string
          description: "Completion ratio (e.g. `1/1`)"

    # ── Observability schemas ────────────────────────────────────────────────

    MetricsResponse:
      type: object
      properties:
        buckets:
          type: array
          items:
            $ref: "#/components/schemas/MetricsBucket"
        time_range:
          $ref: "#/components/schemas/TimeRange"
        interval_minutes:
          type: integer

    MetricsBucket:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        trace_count:
          type: integer
        avg_latency_ms:
          type: number
        input_tokens:
          type: integer
        output_tokens:
          type: integer
        error_count:
          type: integer

    ObservabilitySummaryResponse:
      type: object
      properties:
        total_traces:
          type: integer
        time_range:
          $ref: "#/components/schemas/TimeRange"
        metrics:
          type: object
          properties:
            avg_latency_ms:
              type: number
            p95_latency_ms:
              type: number
            total_tokens:
              type: integer
            error_rate:
              type: number
            traces_per_hour:
              type: number

    TracesResponse:
      type: object
      properties:
        traces:
          type: array
          items:
            $ref: "#/components/schemas/TraceEntry"
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    TraceEntry:
      type: object
      properties:
        trace_id:
          type: string
        name:
          type: string
        status:
          type: string
          enum: [ok, error]
        latency_ms:
          type: number
        input:
          type: string
        output:
          type: string
        timestamp:
          type: string
          format: date-time

    TimeRange:
      type: object
      properties:
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
